<article class="media content-section">
          <div class="media-left">
    	  <img src="https://s0.2mdn.net/8158785/970x250_Communicatie%3D.jpg" class="img-circle" style="width:200px">
  		  </div>
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>